<div class="wrapper wrapper_padding clearfix">
      <div class="col-1 about homepage_content">
					<h2>About</h2>
					<hr>
						<p>I am a designer &amp; developer living in New Delhi,
						India.</p>
						<p>By day I work as front-end developer at Netfunda
						Technologies Private Ltd &amp; by night I teach how
						to design &amp; code rails application as well as some interesting puzzles
						at <a href>Gotudo</a> and work as a freelancer as well.</p>
						<p>You can find me speaking in 140 characters on Twitter,
						swooshing some pixels Dribbble and sharing some
						code on Github.</p>

				</div>

				<div class="col-2 homepage_content">
					<h2>Stuffs I have written</h2>
					<hr>

            <% @posts.each do |post| %>
              <h3><a href="#"><%= link_to post.title, post%></a></h3>
              <p class = "date"><%= post.created_at.strftime("%A, %b %d")%></p>
            <% end %>
        </div>

				<div class="col-3 homepage_content">
					<h2>Stuffs I have built</h2>
					<hr>

          <% @projects.each do |project| %>
            <h3><a href="#"><%= link_to project.title, project%></a></h3>
            <p class = "date"><%= project.created_at.strftime("%A, %b %d")%></p>
          <% end %>
				</div>
			</div>
